<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/kari-schendel">Kari Schendel</a>
  </p>
  <br />
  <p>
    Currently learning to become a web developer.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'mouse.jpg', class: 'img-fluid '%>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kari Schendel</h2>
      <br />
      <p>
        Kari Schendel is an aspiring web developer and has a background in I.T.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>